[submodule "tools/smex"]
	path = tools/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "tools/smart-tab"]
	path = tools/smart-tab
	url = git@github.com:genehack/smart-tab.git
[submodule "tools/smarttabs"]
	path = tools/smarttabs
	url = git@github.com:jcsalomon/smarttabs.git
[submodule "modes/markdown-mode"]
	path = modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "tools/git-messenger"]
	path = tools/git-messenger
	url = git@github.com:syohex/emacs-git-messenger.git
[submodule "tools/popup"]
	path = tools/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "modes/flymake-python-pyflakes"]
	path = modes/flymake-python-pyflakes
	url = git@github.com:purcell/flymake-python-pyflakes.git
[submodule "modes/flymake-easy"]
	path = modes/flymake-easy
	url = git@github.com:purcell/flymake-easy.git
[submodule "tools/textmate"]
	path = tools/textmate
	url = git@github.com:defunkt/textmate.el.git
[submodule "tools/rainbow-delimiters"]
	path = tools/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "tools/slime"]
	path = tools/slime
	url = git@github.com:slime/slime.git
[submodule "tools/notmuch"]
	path = tools/notmuch
	url = git://notmuchmail.org/git/notmuch
[submodule "modes/auto-complete"]
	path = modes/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "tools/paredit"]
	path = tools/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "tools/zeal-at-point"]
	path = tools/zeal-at-point
	url = git@github.com:krig/zeal-at-point.git
[submodule "modes/go-mode"]
	path = modes/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "modes/ponylang-mode"]
	path = modes/ponylang-mode
	url = git@github.com:krig/ponylang-mode
[submodule "tools/sublimity"]
	path = tools/sublimity
	url = git@github.com:zk-phi/sublimity.git
