[user]
	name = Kristoffer Grönlund
	email = kristoffer.gronlund@purplescout.se
[color]
	branch = auto
	status = auto
	diff = auto
	ui = auto
[pack]
	threads = 2
[giggle]
	compact-mode = false
	main-window-maximized = false
	main-window-geometry = 1678x1029+0+19
	main-window-view = HistoryView
	file-view-vpane-position = 787
	file-view-hpane-position = 203
	history-view-vpane-position = 614
[merge]
	tool = meld
[alias]
	ci = commit
        age = !git-age $0
	pulln = !git-pulln $0
	wtf = status
	d = diff
	publish = !git-publish $0
	track-remote = !git-trackremote $0
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pr = pull --rebase

[push]
    default = current

