Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.rgba: rgb
Xft.dpi: 96
Emacs.fontbackend: xft
Emacs.font: Droid Sans Mono-10
emacs*geometry: 120x50


! background (not tango), foreground, tint color (for inheritPixmap)
urxvt*background: #000000
urxvt*foreground: #babdb6
urxvt*tintColor: #d3d7cf

! Black (not tango) + DarkGrey
urxvt*color0: #000000
urxvt*color8: #555753

! DarkRed + Red
urxvt*color1: #a40000
urxvt*color9: #cc0000

! DarkGreen + Green
urxvt*color2: #4e9a06
urxvt*color10: #73d216

! DarkYellow + Yellow
urxvt*color3: #c4a000
urxvt*color11: #edd400

! DarkBlue + Blue
urxvt*color4: #204a87
urxvt*color12: #3465a4

! DarkMangenta + Mangenta
urxvt*color5: #ce5c00
urxvt*color13: #f57900

!DarkCyan + Cyan (both not tango)
urxvt*color6: #038e82
urxvt*color14: #05d2c1

! LightGrey + White
urxvt*color7: #babdb6
urxvt*color15: #d3d7cf

urxvt.scrollBar: false
urxvt.saveLines: 1500
urxvt.urlLauncher: x-www-browser

urxvt.font: xft:Dina:size=8
! urxvt.font: xft:Monospace:size=10

urxvt.modifier: alt


URxvt.keysym.M-u: perl:mark-yank-urls:activate_mark_mode
URxvt.underlineURLs: true
URxvt.perl-lib: /home/krig/.urxvt/
URxvt.perl-ext: mark-yank-urls
