Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.autohint: true
Xft.rgba: rgb
Xft.dpi: 96
!Xft.antialias: 0
!Xft.dpi: 96.000000
!Xft.hinting: 0
!Xft.hintstyle: hintnone
!Xft.rgba: none
Emacs.fontbackend: xft
Emacs.font: Droid Sans Mono-10
!Emacs.font: Liberation Mono-10
!Emacs.font: Dina-8
emacs*geometry: 120x50

!URxvt.color0: #2E3436
!urxvt*background: #2e3436
urxvt*background: #3C3B37
urxvt*foreground: #eeeeec
URxvt.color1: #CC0000
URxvt.color2: #4E9A06
URxvt.color3: #C4A000
URxvt.color4: #3465A4
URxvt.color5: #75507B
URxvt.color6: #06989A
URxvt.color7: #D3D7CF
URxvt.color8: #555753
URxvt.color9: #EF2929
URxvt.color10: #8AE234
URxvt.color11: #FCE94F
URxvt.color12: #729FCF
URxvt.color13: #AD7FA8
URxvt.color14: #34E2E2
URxvt.color15: #EEEEEC

urxvt*tintColor: #d3d7cf

urxvt.scrollBar: false
urxvt.saveLines: 1500
urxvt.urlLauncher: x-www-browser

urxvt.font: xft:Dina:size=8
!urxvt.font: xft:Droid Sans Mono:size=8
!urxvt.font: xft:Monospace:size=8

urxvt.modifier: alt


URxvt.keysym.M-u: perl:mark-yank-urls:activate_mark_mode
URxvt.underlineURLs: true
URxvt.perl-lib: /home/krig/.urxvt/
URxvt.perl-ext: mark-yank-urls
